vendor/
nbproject
.DS_Store
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
assets/css
assets/fonts
assets/js
assets/ping.mp3
assets/index.html
